.navbar {
    height: 10vh;
    background: rgb(39, 110, 243);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar .title {
    font-size: 2.5vh;
    font-weight: bold;
    color: #fff;
}